<h1>New city</h1>

<% form_for([@state,@city]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :population %><br />
    <%= f.text_field :population %>
  </p>
  
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', state_cities_path(@state) %>
